* {
    font-family: sans-serif;
}

body {
    background: white;
}

a {
    text-decoration: none;
    color: #000077;
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #ddd;
}

th {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

th {
  background: white;
  position: sticky;
  top: 0px;
}

tr:hover {
    background-color: #f5f5f5;
}

